/* Min Width 1400px */
@media only screen and (min-width:1400px){
    .mega-menu{
        padding: 80px 450px;
    }

    .mega-menu li a{
        width: 250px;
    }
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .px-0{
        padding: 0;
    }
    
    .single-social-card{
        flex-direction: row;
        padding: 24px 60px;
    }

    .newsletter-content{
        padding: 100px 100px 20px;
    }

    .testi-image{
        padding: 0 100px;
    }

    .ams-review{
        padding: 0 50px;
    }

    .soft-features-left .single-feature-card{
        flex-direction: row-reverse;
    }
}

/* Min Width 992px */
@media only screen and (min-width:992px){

    .ams-banner .banner-content{
        max-width: 780px;
    }

    /* Navbar  */

    .ams-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .ams-nav .ams-main-nav{
        display: flex;
        align-items: center;
    }
    
    .nav-menu li{
        display: inline-block;
    }
    
    .nav-menu li a{
        position: relative;
        display: block;
        font-size: 20px;
        font-weight: var(--font-weight-medium);
        color: var(--text-color);
        padding: 32px 0;
        margin: 0 16px;
        transition: all var(--transition);
    }

    .ams-nav-wrapper.sticky .nav-menu li a{
        padding: 20px 0;
    }
    
    .nav-menu li a::before{
        position: absolute;
        content: "";
        top: 48%;
        left: -12px;
        background-color: var(--text-color);
        transform: translateY(-48%);
    }
    
    .nav-menu li a.active::before,
    .nav-menu li a:hover::before{
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }
    
    .sub-menu{
        position: absolute;
        top: 100%;
        right: 4%;
        width: 250px;
        padding: 16px 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 var(--blur-small) rgba(135,163,255,.8);
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
        z-index: 100;
    }
    
    .mega-menu{
        left: 0;
        right: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 100vw;
        padding: 80px 50px;
    }

    .nav-menu li a:active + .mega-menu{
        visibility: hidden;
        opacity: 0;
    }
    
    .sub-menu li a{
      padding: 10px 0;
      align-items: center;
      transition: var(--transition);
    }
    
    .mega-menu li a{
        width: 150px;
        padding: 3px 0 !important;
    }
    
    .sub-menu li a span{
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: var(--primary-color);
        margin-right: 5px;
    }
    
    .nav-menu li.has-children:hover .sub-menu{
        visibility: visible;
        opacity: 1;
    }
    
    .sub-menu li a:hover{
        transform: translateX(10px);
    }

}

/* Max Width 1199px */
@media only screen and (max-width:1199px){

    .soft-image{
        height: 600px;
        margin: 10px 0 35px;
        background-position: left;
    }

    .single-price-card{
        padding: 40px 32px;
    }
}

/* Max Width 991px */
@media only screen and (max-width:991px){

    h1{
        font-size: 50px;
    }

    h2{
        font-size: 36px;
    }

    .sec-title{
        font-size: 44px;
    }

    .ams-banner{
        height: 0;
        padding: 300px 0;
    }

    .ams-banner .banner-content{
        width: 650px;
        top: 30%;
    }

    .ams-nav-wrapper{
        padding: 15px 50px;
    }

    .ams-story {
        padding-top: 80px;
    }

    .pt-mb-80{
        padding-top: 80px;
    }
    
    /* Mobile Nav */

    .ams-main-nav{
        position: absolute;
        display: none;
        width: 100%;
        top:70px;
        left: 0;
        background-color: #fff;
        padding: 24px 50px;
        box-shadow: 0 10px 20px rgba(135,163,255,.5);
        transition: display var(--transition);
        z-index: 10;
    }

    .ams-nav-wrapper.sticky .ams-main-nav{
        top: 61px;
    }

    .nav-toggle.toggle-2{
        position: absolute;
        top: 16px;
        right: 50px;
        transition: var(--transition);
    }

    .ams-nav-wrapper.sticky .toggle-2{
        top: 14px;
    }

    .nav-menu li a{
        position: relative;
        display: inline-block;
        width: 100%;
        font-size: 20px;
        padding: 5px 0;
        border-bottom: 1px solid #dddddd;
    }

    .nav-menu > li:last-child a{
        border-bottom: none;
    }

    .nav-menu li.has-children > a::before{
        position: absolute;
        content: "\f107";
        top: 50%;
        right: 0;
        font-family: "Font Awesome 5 Free";
        font-weight: var(--font-weight-bold);
        transform: translateY(-50%);
    }

    .sub-menu{
        display: none;
        transition: display var(--transition);
    }
    
    .sub-menu li a {
        margin-left: 32px;
    }

    .ams-nav-wrapper.sticky{
        padding: 12px 50px;
    }

    /* Mobile Nav End */

    .ams-chat{
        right: 25px;
        bottom: 20px;
    }

    .single-price-card{
        margin-bottom: 30px;

    }

    .contact-btn{
        display: inline-block;
        width: 120px !important;
        height:50px;
        color: #fff;
        background-color: var(--primary-color);
        border:1px solid var(--primary-color);
        border-radius: 5px;
        text-align: center;
        line-height: 50px;
        padding: 0 !important;
        margin-top: 16px;
    }
}

/* Max Width 767px */
@media only screen and (max-width:767px){

    .ams-banner{
        background-position: left;
    }

    .ams-banner .banner-content{
        width: 85%;
        left: 32%;
        text-align: center;
    }

    .single-feature{
        padding: 0;
    }

    .ams-assess-note{
        padding-top: 80px;
    }

    th,td{
        padding: 10px !important;
    }
}

/* Max Width 480px */
@media only screen and (max-width:480px){

    h1{
        font-size: 40px;
    }

    .ams-banner{
        background-position: 22%;
    }

    .ams-banner h5{
        font-size: 18px;
        line-height: 30px;
    }

    h2{
        font-size: 30px;
    }

    .ams-nav-wrapper,
    .ams-nav-wrapper.sticky{
        padding-right: 24px;
        padding-left: 24px;
    }
    
    .nav-toggle.toggle-2{
        right: 24px;
    }

    .ams-main-nav{
        padding: 24px;
    }
}

/* Max Width 380px */
@media only screen and (max-width:380px){

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 28px;
    }

    .ams-banner h5{
        font-size: 16px;
    }

    th,td{
        padding: 5px !important;
    }

    th{
        font-size: 18px;
    }
}

/* Max Width 320px */
@media only screen and (max-width:320px){

    h1{
        font-size: 28px;
    }

    .banner-content h5{
        font-size: 14px;
    }
    
    table{
        display: block;
        overflow-x: auto;
    }
}