@charset "utf-8";

@import url('https://fonts.maateen.me/kalpurush/font.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{

    /* Colors */
    --primary-color:#243E8B;
    --secondary-color:#1A53BD;
    --heading-color:#243E8B;
    --text-color:#243E8B;
    --border-color:rgba(135,163,255,1);
    --table-data-color:#B5AFC7;

    /* Typography */
    --body-font: 'Kalpurush', sans-serif;
    --title-font: 'Roboto', sans-serif;
    --font-weight-small:300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* Others */
    --transition:.3s;
    --shadow: rgba(49,132,255,.8);
    --blur-big:50px;
    --blur-small:30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    scroll-behavior: smooth;
    vertical-align: baseline;
    overflow-x: hidden;
    transition: .5s;
}

img {
    max-width: 100%;
    height: auto;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--title-font);
    font-weight: var(--font-weight-bold);
}

h1{
    font-size: 40px;
    font-weight: var(--font-weight-bold);
}

h2{
    font-size: 28px;
    font-weight: var(--font-weight-bold);
}

h4{
    font-weight: var(--font-weight-medium);
}

p,
span{
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--body-font);
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    list-style: none;
    font-family: var(--body-font);
    color: var(--text-color);
}

a{
    font-size: 16px;
    font-family: var(--body-font);
    color: var(--text-color);
    text-decoration: none;
    transition:var(--transition);
}

a:hover{
    color: var(--primary-color);
}

input[type="email"],
input[type="text"],
textarea,
input[type="phone"],
button {
    outline: none;
}

/* General Css */

.mt-40{
    margin-top: 40px;
}

.mt-50{
    margin-top: 50px;
}

.mt-60{
    margin-top: 60px;
}

.mt-100{
    margin-top: 100px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.pt-40{
    padding-top: 40px;
}

.pt-50{
    padding-top: 50px;
}

.pt-80{
    padding-top: 80px;
}

.pt-100{
    padding-top: 100px;
}

.pt-200{
    padding-top: 200px;
}

.pt-300{
    padding-top: 300px;
}

.pb-40{
    padding-bottom: 40px;
}

.pb-50{
    padding-bottom: 50px;
}

.pb-60{
    padding-bottom: 60px;
}

.pb-100{
    padding-bottom: 100px;
}

.px-50{
    padding: 0 50px;
}

.px-100{
    padding: 0 100px;
}

.py-80{
    padding: 80px 0;
}

.text-black{
    color: #000;
    font-weight: var(--font-weight-medium);
}

.sec-spacer{
    padding: 100px 0;
}

.sec-spacer-lg{
    padding: 80px 0 50px;
}

.sec-heading p{
    font-size: 18px;
    margin-bottom: 0;
}

.sec-title{
    font-size: 50px;
    color: var(--primary-color);
}

.sec-des{
    font-size:22px;
    font-weight: var(--font-weight-medium);
}

.ams-tags .tag{
    font-size: 20px;
}

.ams-tags .tag:first-child{
    font-weight: var(--font-weight-meium);
}

/* ----- Header ------ */

.ams-nav-wrapper{
    position: relative;
    width: 100%;
    padding: 0 50px;
    background-color: #fff;
    border-bottom: 1px solid transparent;
    transition: all var(--transition) linear;
    z-index: 1;
}

.header-main .ams-nav-wrapper{
    position: fixed;
    /* background-color: #F5AF1B; */
    background-color: var(--primary-color);
}

.ams-nav-wrapper.sticky{
    position:fixed;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    z-index: 10;
}

.nav-toggle{
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: var(--primary-color);
    margin-left: 30px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

/* .nav-toggle:hover{
    background-color: var(--secondary-color);
} */

/* Sidebar Nav */

.ams-sidebar{
    position: fixed;
    top: 0;
    right: -470px;
    width: 450px;
    height: 100%;
    background-color: #fff;
    padding: 40px 80px;
    z-index: 10;
    box-shadow: 0 0 var(--blur-small) rgba(135,163,255,1);
    transition: all .3s linear;
}

.ams-sidebar.active{
    right: 0;
}

.ams-sidebar .nav-toggle{
    position: relative;
    margin-bottom: 40px;
    margin-left: 0;
}

.sidebar-nav h6{
    color: var(--primary-color);
    margin-bottom: 20px;
}

.sidebar-nav .ams-address a{
    padding-bottom: 16px;
}

.ams-address span{
    font-size: 18px;
}


/* Banner */

.ams-banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/ams-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ams-banner .banner-content{
    position: absolute;
    width: 100%;
    top: 33%;
    left: 25%;
    transform: translate(-25%, -35%);
}

.banner-content h5{
    line-height: 38px;
}

.banner-content h2{
    margin-left: 40%;
}

/* Category */

.single-category{
    margin-bottom: 40px;
    border-radius: 5px;
    transition: box-shadow var(--transition);
}

.single-category:hover{
    box-shadow: 0 0 50PX rgb(36 62 139);
}

.category-image{
    overflow: hidden;
}

.category-image img{
    border-radius: 5px 5px 0 0;
    transition: var(--transition);
}

.category-image:hover img{
    transform: scale(1.1) translateY(-10px);
}

.category-image span{
    display: block;
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    padding: 16px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

/* Social Card */

.single-social-card{
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 32px 24px;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0 0 25PX rgb(36 62 139);
    transition: all var(--transition);
}

.single-social-card:hover{
    top: -10px;
    box-shadow: 0 0 50PX rgb(36 62 139);
}

.social-image img{
    max-width: 60px;
}

/* Features */

.feature-content p{
    font-size: 18px;
    font-weight: var(--font-weight-medium);
}

.single-feature-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
    margin-bottom: 28px;
    background-color:transparent;
    border-radius: 5px;
    transition: var(--transition);
}

.feature-cards .single-feature-card:hover{
    background-color: #fff;
    transform: translateY(-28px);
    box-shadow: 0 0 20px var(--shadow);
}

.single-feature-card:hover .card-content p{
    color: var(--primary-color) !important;
}

.single-feature-card .card-image img{
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
}

/* Testimonial */

.ams-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    text-align: center;
}

.ams-reviews .owl-nav .owl-prev,
.ams-reviews .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff !important;
    border-radius: 50%;

}

.ams-review p{
    font-size: 18px;
    margin: 5px 0 8px;
}


.ams-customer img{
    width: 100px !important;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Newsletter */

.newsletter-content{
    padding: 60px 0 20px;
}

.register-btn{
    display: inline-block;
    width: 250px;
    height: 60px;
    font-size: 18px;
    color: #fff;
    font-weight: var(--font-weight-medium);
    background-color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
}

.register-btn:hover,
.chat-btn:hover{
    color: #fff;
}

/* Product Features */

.soft-image{
    height: 100%;
    background-image: url("../images/software-mokeup.jpg");
    background-size: cover;
    background-position: center;
}

.soft-features .single-feature-card{
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    gap: 24px;
}

.soft-features .card-image img{
    width: 150px;
}

.soft-features .card-content p{
    margin-top: 24px;
}

.single-feature-link{
    text-align: center;
    margin-bottom: 90px;
}
.single-feature-link img{
    width: 100px;
    margin-bottom: 16px;
}

/* Feature Single Pages */

.sec-facility-list li,
.sec-useage-list li{
    font-size:20px;
    color: var(--primary-color);
}

.sec-facility-list li span{
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color:#0AAE38;
    border-radius: 3px;
    line-height: 24px;
}

.sec-useage-list li{
    margin-bottom: 16px;
}

/* Price */

.single-price-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f7;
    padding: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

.single-price-card h4{
    color: var(--primary-color);
}

.single-price-card p{
    font-size: 24px;
}

.single-price-card p b{
    font-size: 28px;
}

.single-price-card p span{
    font-size: 28px;
}

.price-table{
    width: 100%;
}

th{
    font-size: 20px;
    font-weight: var(--font-weight-normal) !important;
    color: var(--primary-color);
    padding: 20px!important;
    border: 1px solid #eaeaea;
}

td{
    font-size: 15px;
    color: var(--primary-color);
    padding: 14px 20px !important;
    border: 1px solid #eaeaea;
}

th:not(:first-of-type),
td:not(:first-of-type){
    text-align: center;
}

td i{
    font-size: 22px;
    color: #0AAE38;
}

td i.fa-times{
    color: #fb6d6d;
}

td a{
    font-size: 18px;
}

/* Price Update */

.price-plans{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}

.single-price-plan{
    position: relative;
    width: 90%;
    background-color: var(--white-color);
    padding: 16px 32px;
    box-shadow: 0 0 20px rgb(0 0 0 / 25%);
    border-radius: 10px;
    margin-left: 20%;
}

.plan-badge {
    position: absolute;
    right: 95px;
    top: 45%;
    width: max-content;
    height: 50px;
    background-color: #FF4500;
    border-radius: 10px 10px 0 0;
    text-align: center;
    transform: rotate(-90deg);
    line-height: 50px;
    padding: 0 24px;
}

.single-price-plan h2{
    font-size: 1.75rem;
    font-weight: var(--font-weight-normal);
    text-align: center;
}

.single-price-plan h4{
    position: relative;
    width: 110px;
    height: 110px;
    /* color: #fff; */
    background-color: transparent;
    border: 5px solid #FF4500 ;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
    margin: 16px auto;
}

.standard h4{
    /* background-color: navy; */
    border-color: navy;
}

.premium h4{
    /* background-color: green; */
    border-color: green;
}

.single-price-plan sub{
    position: absolute;
    font-size: .95rem;
    bottom: 32px;
    left: 12px;
}

.plan-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
}

.plan-list li{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    margin-bottom: 5px;
}

li .fa-check{
    font-size: 1.10rem;
    color: green;
}

li .fa-times{
    font-size: 1.10rem;
    color: red;
}

.shop-btn{
    display: inline-block;
    width: max-content;
    height: 40px;
    color: #fff;
    background-color: #FF4500;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0 16px;
    margin: 10px 0;
    line-height: 40px;
}

.standard .shop-btn{
    background-color: navy;
}

.premium .shop-btn{
    background-color: green;
}

.standard .plan-badge{
    background-color: navy;
}

.premium .plan-badge{
    background-color: green;
}

.plan-badge p{
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    color: #fff;
    letter-spacing: 1px;
}

/* Device */

.devices p{
    font-size: 22px;
    margin-bottom: 16px;
}

.single-device .price{
    font-weight: var(--font-weight-bold);
}


/* Footer */

.footer-top{
    padding: 100px 0 60px;
}

.footer-about img{
    margin:-10px 0 26px;
}

.ams-footer-widget h5{
    margin-bottom: 20px;
}

.social-links{
    margin-top: 8px;
}

.social-links a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background-color:#fff;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    /* box-shadow: 3px 7px 10px rgba(0 0 0 / 80%); */
    margin-right: 10px;
    transition: .8s;
}

.social-links a:hover{
    transform: rotate(360deg)
}

.footer-list a{
    display: block;
    padding-bottom: 16px;
}

.ams-address a {
   display: grid;
   grid-template-columns: 10px 1fr;
   grid-column-gap: 16px;
   align-items: baseline;
   font-size: 18px;
}

.copyright{
    color: var(--primary-color);
    padding-bottom: 20px;
}

.sidebar-nav p,
.footer-support p{
    font-size: 18px;
}

/* Chat Btn */

.ams-chat{
    position: fixed;
    right: 50px;
    bottom: 40px;
    z-index: 10;
}

.chat-btn{
    display: inline-block;
    width: 70px;
    height: 70px;
    font-size: 32px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    box-shadow: 5px 5px var(--blur-small) rgba(135,163,255,.8);
}

/* Products */

.filtered-products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 16px;
    transition: grid-template-column var(--transition);
    margin-bottom: 24px;
}

.single-product {
    position: relative;
    background-color: #F3F8FB;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 5%);
}

.single-product .product-image{
    overflow: hidden;
}

.single-product .product-image img{
    width: 100%;
    background-color: var(--white-color);
    transition: var(--transition);
}

.single-product:hover img{
    transform: scale(1.1) translateY(-10px);
}

.single-product .product-content {
    margin-top: 16px;
    transition: var(--transition);
    padding: 10px 16px;
}

.single-product .product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-product .product-title:hover {
    text-decoration: underline;
}

.product-content .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.price .off-tag {
    display: inline-block;
    padding: 2px 5px;
    font-size: .75rem;
    color: #FFF;
    background: orangered;
    border-radius: 4px;
}

/* Single Product */

.ecom-breadcrumb .breadcrumb-link {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.ecom-breadcrumb .breadcrumb-link:not(:last-of-type)::after {
    position: absolute;
    content: "/";
    top: 1px;
    right: -4px;
    font-size: .875rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.breadcrumb-link.active {
    color: var(--secondary-color);
}

.product-info h3 {
    font-family: var(--body-font);
}

.product-info .rating-box-wrap {
    display: flex;
    align-items: center;
}

.rating-box-wrap .rating-box {
    display: flex;
}

.rating-box i {
    color: #f9ba48;
    font-size: 1rem;
    letter-spacing: 2px;
}

.rating-box-wrap .review-status {
    position: relative;
    top: 1px;
}

.review-status a {
    color: #999;
    display: inline-block;
    line-height: 1;
    margin-left: 8px;
}

.review-status a:hover {
    color: var(--secondary-color);
}

.product-info .prices {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 32px 0;
    padding-top: 17px;
}

.prices .price {
    font-size: 1.20rem;
    font-weight: var(--font-weight-semi-bold);
}

.product-info .desc {
    color: #999;
    line-height: 1.8;
    margin-bottom: 36px;
}

.product-info .color-form-select-wrap .form-label {
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    margin: 0 0 8px;
    text-transform: capitalize;
}

.product-info .color-form-select-wrap .color-form-select {
    border: 1px solid var(--secondary-color);
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 41px;
    padding: 0 5px 0 15px;
    min-width: 285px;
    width: 285px;
}

.product-info .qty-add-to-cart-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
}

.product-info .qty-wrap {
    margin-right: 10px;
}

.product-info .qty-wrap .pro-qty {
    display: inline-block;
    position: relative;
}

.product-info .qty-wrap .pro-qty input {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    width: 105px;
    height: 42px;
    font-size: 16px;
    padding: 5px 26px 5px 5px;
    text-align: center;
}

.product-info .qty-wrap .pro-qty .qty-btn {
    background-color: transparent;
    position: absolute;
    width: 25px;
    height: 21px;
    font-weight: 600;
    top: 0;
    right: 0;
    border-left: 1px solid var(--secondary-color);
    line-height: 21px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-out;
}

.product-info .qty-wrap .pro-qty .dec {
    border-top: 1px solid var(--secondary-color);
    top: auto;
    bottom: 0;
}

.btn-theme {
    background: var(--secondary-color);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    padding: 14px 81px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}

.product-info .btn-theme:hover {
    color: var(--white-color);
}

.product-info .wishlist-compare-wrap {
    margin-top: 16px;
}

.product-info .wishlist-compare-wrap a:hover {
    color: var(--secondary-color);
}

.product-info .wishlist-compare-wrap a+a {
    margin-left: 36px;
}

.product-info .product-single-meta {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 22px 0;
    padding-top: 22px;
    width: 100%;
}

.product-info .product-single-meta ul {
    margin-bottom: 0;
}

.product-info .product-single-meta ul li {
    color: #242424;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.71428;
    margin: 0 0 5px 0;
}

.product-info .product-single-meta ul li span {
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    text-transform: capitalize;
}

.product-info .social-icons {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    padding-top: 20px;
}

.product-info .social-icons span {
    display: inline-block;
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 8px;
    margin-right: 15px;
    text-transform: capitalize;
}

.product-info .social-icons a {
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}

.product-slider .product-thumb .owl-item {
    border: 1px solid #e5e5e5;
    cursor: pointer;
    transition: .1s;
}

.product-thumb .owl-item.current,
.product-thumb .owl-item:hover {
    border-bottom: 2px solid var(--secondary-color);
}

.product-thumb .owl-nav .owl-prev,
.product-thumb .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.product-thumb .owl-nav .owl-prev, .product-thumb .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-nav .owl-next {
    right: -1.5%;
}

.owl-nav .owl-prev {
    left: -1.5%;
}

.ams-product-tab-nav{
    flex-direction: column;
    gap: 10px;
}

.ams-product-tab-nav li a{
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid var(--primary-color);
    text-align: center;
    padding: 8px;
    transition: var(--transition);
}

.ams-product-tab-nav li a.active,
.ams-product-tab-nav li a:hover{
    color: #fff;
    background-color: var(--primary-color);
}

/* Prodcut Review */

.product-review-tabs-content {
    margin-top: 50px;
}

.product-review-tabs-content .nav {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 35px 0;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-review-tabs-content .nav li {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}

.product-review-tabs-content .nav li+li {
    margin-left: 8px;
}

.product-review-tabs-content .nav li a {
    border: 2px solid #e5e5e5;
    color: #242424;
    line-height: 30px;
    padding: 13px 50px;
    display: block;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 500;
    border-radius: 4px;
}

.product-review-tabs-content .nav li a.active {
    color: #fff;
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.product-review-tabs-content .nav li a.active:before {
    left: -2px;
    right: -2px;
    width: auto;
}

.product-review-tabs-content .nav li a:before {
    background: var(--secondary-color);
    bottom: -33px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    right: 50%;
    width: 0;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.product-review-tabs-content .nav li a.active:before {
    left: -2px;
    right: -2px;
    width: auto;
}

.product-review-content .comment-author .comment-content .title {
    margin-bottom: 18px;
}

.product-review-content .comment-author .comment-content .rating-box i {
    color: #f9ba48;
    font-size: .80rem;
    letter-spacing: 2px;
    margin-bottom: 4px;
}

.product-review-tabs-content .product-description p {
    color: #999;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
}

.product-review-tabs-content .product-information table {
    border: 1px solid #e5e5e5;
    width: 100%;
}

.product-information table tbody tr th {
    border: none;
    border-right: 1px solid #e5e5e5;
    font-size: .90rem;
    font-weight: var(--font-weight-semi-bold);
    text-transform: uppercase;
    padding: 16px;
    width: 150px;
    line-height: 1.5;
}

.product-information table tbody tr td {
    padding: 16px;
    font-style: italic;
    color: #999;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e5e5e5;
    margin: 0;
    line-height: 1.5;
}

.product-review-content {
    margin-top: 48px;
}

.product-review-content .comment-author {
    position: relative;
}

.product-review-content .comment-author .comment-thumb {
    position: absolute;
    top: 0;
    left: 0;
}

.product-review-content .comment-author .comment-content {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-left: 80px;
    position: relative;
    padding: 24px 24px 20px;
    margin: 0 0 0 80px;
}

.product-review-content .comment-form-content {
    margin-top: 40px;
}

.product-review-content .comment-form-content .title {
    color: #999;
    display: block;
    font-size: 1.154em;
    font-weight: 500;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.product-review-content .comment-form-content .desc {
    color: #999;
    margin-bottom: 11px;
}

.product-review-tabs-content .review-comment-form {
    margin-top: 18px;
}

.review-comment-form .form-group {
    margin-bottom: 18px;
}

.comment-form-content .form-label {
    cursor: pointer;
    color: #999;
    font-size: 14px;
    margin: 0 0 5px;
}

.review-comment-form .form-label {
    font-weight: 400;
    margin: 0 0 5px;
}

.review-comment-form .form-control {
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 48px;
    max-width: 100%;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}

.review-comment-form textarea.form-control {
    padding-top: 10px;
    height: 125px;
    line-height: 1.8;
}

.ecom-related-products .single-product {
    box-shadow: none;
}

.product-preview{
    z-index: 0;
}


/* Services */

.single-service{
    padding: 24px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.single-service:last-child{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.single-service .service-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 16px;
}

.service-list h6{
    color: red;
    margin: 10px 0;
}

.single-service ul li{
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin: 5px 0;
}

.single-service li span{
    font-size: 18px;
}

.single-service ul li i{
    font-size: 11px;
}